################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ShazamCore/bin/Debug/net7.0
/ShazamCore/obj
/WpfShazam/bin/Debug/net7.0-windows
/WpfShazam/obj
/ShazamCore/bin/Release/net7.0
/WpfShazam/bin/Release/net7.0-windows
/WinUI3Shazam/bin
/WinUI3Shazam/obj
/ShazamCore/.vs/ShazamCore
/ShazamCore/bin
/WpfShazam/bin
